# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: infracost_breakdown
        args:
          - --args=--path=.
      - id: terraform_fmt
      - id: terraform_docs
      - id: terraform_trivy
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        additional_dependencies:
          - "@commitlint/config-conventional"
          - "@commitlint/cli"
ci:
  skip:
    - infracost_breakdown
    - terraform_fmt
    - terraform_docs
    - terraform_trivy
    - commitlint
